<div class="container">
  <div class="row">
      <table class="table table-striped">
      <tr>
        <th>user email</th>
        <th>User role</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
      <td>
    <h3><%= link_to user.email%> </h3>
  </td>
  <td>
    <h3>  <strong><%= user.role %></strong></h3>
  </td>
  <td>
    <%= button_to "Make Admin    ", {action: "make_admin", id: user.id }, method: :put %>
    <%= button_to "Make Premium", {action: "make_premium", id: user.id }, method: :put %>
    <%= button_to "Make Standard", {action: "make_standard", id: user.id }, method: :put %>
  </td>
  </tr>
      <% end %>
    </table>
  </div>
</div>
